.blink {
    border-right: 1ch solid white;
    animation: blink 0.6s step-start infinite;
}

.cursor {
    border-right: 1ch solid white;
}


@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.divAnimation {
    height: 100vh;
    margin-top: 4.8vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vh 1.3vh;
    color: white;

    .animation {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1.7vh;

        .text {
            width: fit-content;
            display: flex;
            flex-direction: row;
            white-space: nowrap;
            font-size: 1.57vh;
            font-weight: 800;

            text {
                margin: 0;

                &:not(:first-child) {
                    width: fit-content;
                    margin-left: 1.55vh;
                }

                &.text-amarelo {
                    color: #FEF08A;
                }

                &.text-azul {
                    color: #3A96DD;
                    font-family: 'JetBrains Italic';
                }
            }
        }

    }
}