.contato {
    width: 100%;
    /* height: 50vh; */
    margin-bottom: 10vh;

    background-image: url(../img/Contato.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    opacity: 0.7;
}