.contato {
    width: 100%;
    padding-bottom: 10vh;
    background-color: #090C24;

    .tag {
        * {
            font-size: 1vh;
            line-height: 1;
        }

        .input-contato {
            flex-direction: row;

            input {
                width: auto;
                outline: none;
                background-color: rgba(255, 255, 255, 0.3);
                border: 0;
                border-radius: 0.25vh;
                color: #FEF08A;
            }

            input:focus {
                background: none;
            }


        }

        input[name='enviaremail'] {
            width: 50vw;
            height: 1.5vh;
            padding-left: 2vh;
            border-radius: 0.25vh;
            outline: none;
            background-color: rgba(255, 255, 255, 0.3);
            border: 0;
            color: #FEF08A;
        }
    }

    /* Remove o background e define a cor do texto para todos os inputs que o Chrome autofill */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px #090C24 inset !important;
        /* fundo desejado */
        -webkit-text-fill-color: #FEF08A !important;
        /* cor do texto */
        transition: background-color 5000s ease-in-out 0s !important;
    }

    /* Também pode adicionar para inputs em foco e todos os estados */
    input:focus:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #090C24 inset !important;
        -webkit-text-fill-color: #FEF08A !important;
    }
}

@media(width>700px) {
    .contato {
        .numero {
            p {
                font-size: 2vh;
                height: 4.5vh;
            }
        }

        div.tag {
            height: fit-content !important;

            * {
                align-items: center;
                justify-content: center;
                font-size: 2vh;
                line-height: 4.5vh;
                height: 4.5vh;
                color: white;
            }

            input {
                height: 90%;
                border-radius: 2vh;
            }

            input[name='enviaremail'] {
                width: 50vw;
                height: 3vh;
                padding-left: 2vh;
                outline: none;
                background-color: rgba(255, 255, 255, 0.3);
                border: 0;
                color: #FEF08A;
            }
        }
    }
}