:root {
    --fundo-janelas: #090C24;
    --cor-bordas-linhas: #0C3356;
    --rosa: #FC4FB6;
    --verde: #43CD55;
    --amarelo: #FEF08A;
    --laranja: #D9A70A;
    --branco: #FFFFFF;
    --ciano: #67E8F9;
    --roxo: #A369FF;
    --tag: var(--cor-bordas-linhas);
}

span.span-fullscreen {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    .close {
        width: 3vh;
        height: 3vh;
        position: fixed;
        top: 0;
        right: 1vw;
        cursor: pointer;
        border-radius: 3vh;
        background-color: rgba(255, 255, 255, 0.1);

        svg {
            scale: 0.5;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    * {

        display: flex;
        align-items: center;
        justify-content: center;
    }

    background-color: rgba(0, 0, 0, 0.9);

    .content-fullscreen {
        width: 90vw;
        height: 90vh;

        border-radius: 3vh;
        background-color: var(--fundo-janelas);
        color: var(--branco);

        .content-container {
            width: 90%;
            height: 95%;
            flex-direction: column;
            justify-content: start;
            gap: 2.5vh;
            text-align: center;

            img {
                max-width: 100%;
                max-height: 40%;
                border-radius: 1vh;
            }

            content {
                height: 50%;
                flex-direction: column;
                gap: 3vh;


                .descricao-projeto {
                    flex-direction: column;
                    overflow: auto;
                    justify-content: start;
                    text-align: left;

                    * {
                        font-size: 1.7vh;
                        white-space: pre-line;
                    }
                }

                .btn-links {
                    width: 100%;
                    padding-bottom: 3vh;
                    justify-content: space-around;

                    a {
                        width: 40%;
                        height: 100%;
                        text-decoration: none;

                        * {
                            outline: none;
                            border: none;
                            background: none;
                            color: rgba(255, 255, 255, 0.5);
                            font-size: 1.7vh;
                        }

                        button::before {
                            content: attr(data-text);
                        }

                        button:hover::before {
                            content: '> ' attr(data-text);
                            color: white;
                        }
                    }
                }

            }
        }
    }
}