:root {
    --fundo-janelas: #090C24;
    --cor-bordas-linhas: #0C3356;
    --rosa: #FC4FB6;
    --verde: #43CD55;
    --amarelo: #FEF08A;
    --laranja: #D9A70A;
    --branco: #FFFFFF;
    --ciano: #67E8F9;
    --roxo: #A369FF;
    --tag: var(--cor-bordas-linhas);
}

* {
    .header-window {
        width: 100%;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: black;

        * {
            margin: 0;
        }

        .titulo-aba {
            margin-left: 2vh;
            height: 50%;
            display: flex;

            .vs-logo {
                width: 4vh;
                height: 100%;
                background-image: url(../img/logos/vs-logo.png);
                background-repeat: no-repeat;
                background-position: left center;
                background-size: 60%;
            }

            .name-window {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                font-size: smaller;
                color: white;
            }
        }

        .divControlesAba {
            height: 100%;
            display: flex;


            * {
                max-width: calc(100%/3);
                max-height: 100%;
                aspect-ratio: 1 / 1;
                display: flex;
                justify-content: center;
                align-items: center;

                &:active {
                    background-color: grey;
                }

                svg {
                    max-height: 30%;
                    max-width: 30%;
                }
            }
        }
    }

    .content {
        width: 100%;
        margin-top: 1vh;
        display: flex;

        .numeros-lateral {
            height: fit-content;
            padding-left: 0.25vh;
            display: flex;
            flex-direction: column;
            gap: 5vh;


            * {
                width: 100%;
                margin: auto;
                display: flex;
                justify-content: center;
                flex-direction: column;
                /* gap: 1.5vh; */


                p {
                    width: 100%;
                    height: 2.5vh;
                    text-align: right;
                    color: var(--cor-bordas-linhas);
                    font-size: 1.5vh;
                    line-height: 2vh;
                }
            }
        }

        .content-window {
            width: 100%;
            display: flex;
            row-gap: 5vh;
            flex-direction: column;
            padding-left: 1vh;
            background-color: var(--fundo-janelas);

            * {
                display: flex;
                flex-direction: column;
                align-items: start;

                .tag {
                    height: 2.5vh;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    color: red;
                    font-size: 2vh;
                    line-height: 2vh;
                    font-weight: bold;

                    .cor-tag {
                        color: var(--tag);
                    }

                    .cor-rosa {
                        color: var(--rosa);
                    }

                    .cor-verde {
                        color: var(--verde);
                    }

                    .cor-amarelo {
                        color: var(--amarelo);
                    }

                    .cor-laranja {
                        color: var(--laranja);
                    }

                    .cor-branco {
                        color: var(--branco);
                    }

                    .cor-ciano {
                        color: var(--ciano);
                    }

                    .cor-roxo {
                        color: var(--roxo);
                        font-weight: 900;
                    }


                    p {
                        padding-left: 3.5vh;
                        font-size: 1.5vh;
                        font-family: "JetBrains Regular";
                    }
                }

                .pad-1 {
                    height: 100%;
                    justify-content: center;
                    padding-left: 3vh;
                    border-left: 1px solid var(--cor-bordas-linhas);
                }

                .pad-2 {
                    justify-content: center;
                    padding-left: 3vh;
                    border-left: 1px solid var(--cor-bordas-linhas);
                }

                .tag-break-line {
                    width: 100%;
                    height: 2.5vh;
                }
            }
        }

    }
}