:root {
    --fundo-janelas: #090C24;
    --cor-bordas-linhas: #0C3356;
    --rosa: #FC4FB6;
    --verde: #43CD55;
    --amarelo: #FEF08A;
    --laranja: #D9A70A;
    --branco: #FFFFFF;
    --ciano: #67E8F9;
    --roxo: #A369FF;
    --tag: var(--cor-bordas-linhas);
}

@font-face {
    font-family: 'JetBrains Regular';
    src: url('../fonts/JetBrainsMono[wght].ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains Italic';
    src: url('../fonts/JetBrainsMono-Italic[wght].ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains ExtraBold';
    src: url('../fonts/JetBrainsMono-ExtraBold.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "JetBrains Regular";

    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

body {
    width: 100vw;
    /* background-image: url(../img/wireframepng.png); */
    background-color: #0C0C0C;

    * {
        /* background-color: red;
        opacity: 0.75; */
    }

    .btn-index,
    .btn-reload {
        width: 5vh;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 2vh;
        bottom: 2vh;
        z-index: 999;

        color: rgba(255, 255, 255, 0.35);
        font-family: 'JetBrains ExtraBold';
        font-size: 3vh;
        line-height: 1;
        transform: rotate(-90deg);

        background-color: rgba(12, 51, 86, 0.35);
    }

    .btn-reload {
        bottom: 9vh;
    }

}