<div class="divAnimation">
  <div class="animation">
    <div class="text">
      <text class="animate line" data-text='C:\Users\Lucas Torres\Galeria>'></text>
      <text class="text-amarelo animate" data-text='cd'></text>
      <text class="text-azul animate" data-text='"../"'></text>
    </div>

    <div class="text">
      <text class="animate line" data-text='C:\Users\Lucas Torres>'></text>
      <text class="text-amarelo animate" data-text='cd'></text>
      <text class="text-azul animate" data-text=' "./Contato" '></text>
    </div>

    <div class="text">
      <text class="animate line" data-text='C:\Users\Lucas Torres\Contato>'></text>
      <text class="text-amarelo animate" data-text='code'></text>
      <text class="text-azul animate" data-text='"./contato-email.js"'></text>
    </div>
  </div>

</div>