<div class="divAnimationSobre">
  <div class="animationSobre">
    <div class="text">
      <text> C:\Users\Lucas Torres\Trabalhos> </text>
      <text>cd</text>
      <text>"../"</text>
    </div>

    <div class="text">
      <text> C:\Users\Lucas Torres> </text>
      <text> cd </text>
      <text> "./Galeria" </text>
    </div>

    <div class="text">
      <text> C:\Users\Lucas Torres\Galeria> </text>
    </div>

    <div class="text">
      <div class="text">
        <text> code </text>
        <text>"./galeria.html"</text>
      </div>
    </div>
  </div>

</div>