<div class="divAnimation">
  <div class="animation">
    <div class="text">
      <text> C:\Users\Lucas Torres> </text>
      <text class="text-amarelo">cd</text>
      <text class="text-azul">"./Sobre"</text>
    </div>

    <div class="text">
      <text> C:\Users\Lucas Torres\Sobre> </text>
      <text class="text-amarelo"> code </text>
      <text class="text-azul">"./sobre.html"</text>
    </div>
  </div>
</div>