<div class="divAnimation">
  <div class="animation">
    <div class="text">
      <text class="animate line" data-text='C:\Users\Lucas Torres\Sobre>'></text>
      <text class="text-amarelo animate" data-text='cd'></text>
      <text class="text-azul animate" data-text='"../"'></text>
    </div>

    <div class="text">
      <text class="animate line" data-text='C:\Users\Lucas Torres>'></text>
      <text class="text-amarelo animate" data-text='cd'></text>
      <text class="text-azul animate" data-text=' "./Trabalhos" '></text>
    </div>

    <div class="text">
      <text class="animate line" data-text='C:\Users\Lucas Torres\Trabalhos>'></text>
      <text class="text-amarelo animate" data-text='ls'></text>
    </div>
  </div>

</div>