<div class="divAnimationSobre">
  <div class="animationSobre">
    <div class="text"><text> C:\Users\Lucas Torres> </text> <text>cd</text><text>"./Sobre"</text></div>
    <div class="text"><text> C:\Users\Lucas Torres\Sobre> </text></div>
    <div class="text"><text> code </text><text>"./sobre.html"</text> </div>
  </div>
</div>