<div class="divAnimation">
  <div class="animation">
    <div class="text">
      <text> C:\Users\Lucas Torres\Trabalhos> </text>
      <text class="text-amarelo">cd</text>
      <text class="text-azul">"../"</text>
    </div>

    <div class="text">
      <text> C:\Users\Lucas Torres> </text>
      <text class="text-amarelo"> cd </text>
      <text class="text-azul"> "./Galeria" </text>
    </div>

    <div class="text">
      <text> C:\Users\Lucas Torres\Galeria> </text>
      <text class="text-amarelo"> code </text>
      <text class="text-azul">"./galeria.html"</text>
    </div>
  </div>

</div>