<div class="divAnimationSobre">
  <div class="animationSobre">
    <div class="text">
      <text> C:\Users\Lucas Torres> </text>
       <text>cd</text>
       <text>"../"</text>
      </div>
    
    <div class="text">
      <text> C:\Users\Lucas Torres> </text>
      <text> cd </text>
      <text> "./Trabalhos" </text>
    </div>
    
    <div class="text">
      <text style="color: white;"> C:\Users\Lucas Torres\Trabalhos> </text>
      <text style="color: #FEF08A;"> ls </text>
    </div>
  </div>

</div>