<div class="colunas-trabalhos">
  <div class="data">
    <p>10/2023</p>
  </div>

  <div class="tipo">
    <p>WebAplication</p>
  </div>

  <div class="nome">
    <p>Solicitação-ARTE</p>
  </div>
</div>