<div class="contato">
  <div class="header-window header-window-contato">
    <div class="titulo-aba">
      <div class="vs-logo"></div>
      <div class="name-window">contato-email.js</div>
    </div>
    <div class="divControlesAba">
      <div class="minimize">
        <svg width="54" height="6" viewBox="0 0 54 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.496826 3H53.0109" stroke="white" stroke-width="5" />
        </svg>
      </div>

      <div class="maximize">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.4912 11.772V3.00293H56.6507V46.5657H48.3525" stroke="white" stroke-width="5" />
          <path d="M48.0109 11.9971H3.01086V56.9971H48.0109V11.9971Z" stroke="white" stroke-width="5" />
        </svg>
      </div>

      <div class="close">
        <svg width="55" height="54" viewBox="0 0 55 54" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M52.7367 1.86182L54.5033 3.63037L31.1136 26.9995L54.5023 50.3696L50.9691 53.9067L27.5765 30.5337L4.18494 53.9067L0.651733 50.3696L24.0394 26.9995L0.650757 3.63037L2.41736 1.86182L4.18494 0.0932617L27.5765 23.4653L50.9691 0.0932617L52.7367 1.86182Z" fill="white" />
        </svg>
      </div>
    </div>

  </div>

  <div class="content">
    <div class="numeros-lateral">
      <div class="numero numero-1">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
        <p>7</p>
        <p>8</p>
        <p>9</p>
        <p>10</p>
        <p>11</p>
        <p>12</p>
        <p>13</p>
        <p>14</p>
        <p>15</p>
        <p>16</p>
        <p>17</p>
        <p>18</p>
        <p>19</p>
        <p>20</p>
      </div>

    </div>

    <form action="/sendmail" method="post" class="content-window content-window-contato">
      <div class="header-contato">

        <div class="tag">
          <div class="cor-rosa"> const </div>

          <div class="cor-branco"> &nbsp;nodemailer </div>
          <div class="cor-rosa"> &nbsp;= </div>
          <div class="cor-verde"> &nbsp;require </div>
          <div class="cor-laranja"> ( </div>
          <div class="cor-amarelo"> 'nodemailer' </div>
          <div class="cor-laranja"> ) </div>
        </div>

        <div class="tag">
          <div class="cor-rosa"> const </div>

          <div class="cor-roxo"> &nbsp;smtpConfig </div>
          <div class="cor-rosa"> &nbsp;= </div>
          <div class="cor-verde"> &nbsp;{ </div>
        </div>

        <div class="tag">
          <div class="cor-ciano pad-1"> host </div>
          <div class="cor-rosa"> : </div>
          <div class="cor-ciano"> &nbsp;process </div>
          <div class="cor-rosa"> . </div>
          <div class="cor-ciano"> env </div>
          <div class="cor-rosa"> . </div>
          <div class="cor-roxo"> HOST </div>
          <div class="cor-branco">
            ,
          </div>
        </div>

        <div class="tag">
          <div class="cor-ciano pad-1"> port </div>
          <div class="cor-rosa"> : </div>
          <div class="cor-ciano"> &nbsp;process </div>
          <div class="cor-rosa"> . </div>
          <div class="cor-ciano"> env </div>
          <div class="cor-rosa"> . </div>
          <div class="cor-roxo"> PORT </div>
          <div class="cor-branco"> , </div>
        </div>

        <div class="tag">
          <div class="cor-ciano pad-1"> auth </div>
          <div class="cor-rosa"> : </div>
          <div class="cor-roxo"> &nbsp;{ </div>
        </div>

        <div class="tag pad-2">
          <div class="cor-ciano pad-1"> user </div>
          <div class="cor-rosa"> : </div>
          <div class="cor-ciano"> &nbsp;process </div>
          <div class="cor-rosa"> . </div>
          <div class="cor-ciano"> env </div>
          <div class="cor-rosa"> . </div>
          <div class="cor-roxo"> USER </div>
        </div>

        <div class="tag pad-2">
          <div class="cor-ciano pad-1"> pass </div>
          <div class="cor-rosa"> : </div>
          <div class="cor-ciano"> &nbsp;process </div>
          <div class="cor-rosa"> . </div>
          <div class="cor-ciano"> env </div>
          <div class="cor-rosa"> . </div>
          <div class="cor-roxo"> PASS </div>
        </div>

        <div class="tag">
          <div class="cor-roxo pad-1"> } </div>
        </div>

        <div class="tag">
          <div class="cor-verde"> } </div>
        </div>

        <div class="tag">
          <div class="cor-rosa">const</div>
          <div class="cor-roxo">&nbsp;transporter</div>
          <div class="cor-rosa">&nbsp;=</div>
          <div class="cor-ciano">&nbsp;nodemailer</div>
          <div class="cor-rosa">.</div>
          <div class="cor-verde">createTransport(</div>
          <div class="cor-roxo">smtpConfig</div>
          <div class="cor-verde">)</div>
        </div>

        <div class="tag">
          <div class="cor-rosa">const</div>
          <div class="cor-roxo">&nbsp;mailOptions</div>
          <div class="cor-rosa">&nbsp;=</div>
          <div class="cor-verde">&nbsp;{</div>
        </div>

        <div class="tag">
          <div class="cor-ciano pad-1">to</div>
          <div class="cor-rosa">:</div>
          <div class="cor-amarelo">&nbsp;'lucasronan33@gmail.com'</div>
        </div>

        <div class="tag">
          <div class="cor-ciano pad-1">from</div>
          <div class="cor-rosa">:</div>
          <div class="cor-roxo">&nbsp;{</div>
        </div>

        <div class="tag pad-2">
          <div class="cor-ciano pad-1">address</div>
          <div class="cor-rosa">:&nbsp;</div>
          <div class="input-contato">
            <div class="cor-amarelo">'</div>
            <input type="text" name="remetente" id="email-remetente" placeholder="insnira seu e-mail">
            <div class="cor-amarelo">'</div>
          </div>
          <div class="cor-branco">,</div>
        </div>

        <div class="tag pad-2">
          <div class="cor-ciano pad-1">name</div>
          <div class="cor-rosa">:&nbsp;</div>
          <div class="input-contato">
            <div class="cor-amarelo">'</div>
            <input type="text" name="nomeRemetente" id="email-nome-remetente" placeholder="insira seu nome">
            <div class="cor-amarelo">'</div>
          </div>
          <div class="cor-branco">,</div>
        </div>

        <div class="tag">
          <div class="cor-roxo pad-1">}</div>
          <div class="cor-branco">,</div>
        </div>

        <div class="tag">
          <div class="cor-ciano pad-1">subject</div>
          <div class="cor-rosa">:&nbsp;</div>
          <div class="input-contato">
            <div class="cor-amarelo">'</div>
            <input type="text" name="subject" id="email-subject" placeholder="motivo do contato">
            <div class="cor-amarelo">'</div>
          </div>
          <div class="cor-branco">,</div>
        </div>

        <div class="tag">
          <div class="cor-ciano pad-1">message</div>
          <div class="cor-rosa">:&nbsp;</div>
          <div class="input-contato">
            <div class="cor-amarelo">'</div>
            <input type="text" name="message" id="email-message" placeholder="digite sua mensagem">
            <div class="cor-amarelo">'</div>
          </div>
        </div>

        <div class="tag">
          <div class="cor-verde">}</div>
        </div>

      </div>
    </form>
  </div>
</div>