<div class="galeria">
  <div class="header-window header-window-galeria">
    <div class="titulo-aba">
      <div class="vs-logo"></div>
      <div class="name-window">galeria.html</div>
    </div>

    <div class="divControlesAba">
      <div class="minimize"></div>
      <div class="maximize"></div>
      <div class="close"></div>
    </div>
  </div>
  <div class="content">
    <div class="numeros-lateral">
      <div class="numero numero-1">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
      </div>
      <div class="numero numero-2">
        <p>7</p>
      </div>
      <div class="numero numero-3">
        <p>8</p>
        <p>9</p>
        <p>10</p>
      </div>
      <div class="numero numero-4">
        <p>11</p>
        <p>12</p>
        <p>13</p>
        <!-- <p>14</p>
        <p>15</p>
        <p>16</p>
        <p>17</p> -->
      </div>

    </div>

    <div class="content-window content-window-trabalhos">

      <div class="header-trabalhos">

        <!-- div section  -->
        <div class="tag">
          <div class="cor-tag">
            &lt;
          </div>

          <div class="cor-rosa">section&nbsp;</div>
          <div class="cor-verde">id</div>
          <div class="cor-rosa">= </div>
          <div class="cor-amarelo">"carrosel-1" </div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <!-- ----------------------- -->

        <div class="tag-break-line"></div>

        <!-- tag btn-voltar  -->
        <div class="tag">
          <div class="cor-tag">
            &nbsp;&nbsp; &lt;
          </div>
          <div class="cor-rosa">div&nbsp;</div>
          <div class="cor-verde">class</div>
          <div class="cor-rosa">= </div>
          <div class="cor-amarelo">"btn-seletores voltar" </div>
          <div class="cor-tag">
            &gt;
          </div>

          <div class="cor-tag">
            &lt;/
          </div>
          <div class="cor-rosa">div</div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <!-- ----------------------- -->


        <!-- tag btn-avancar -->
        <div class="tag">
          <div class="cor-tag">
            &nbsp;&nbsp; &lt;
          </div>
          <div class="cor-rosa">div&nbsp;</div>
          <div class="cor-verde">class</div>
          <div class="cor-rosa">= </div>
          <div class="cor-amarelo">"btn-seletores avancar" </div>
          <div class="cor-tag">
            &gt;
          </div>

          <div class="cor-tag">
            &lt;/
          </div>
          <div class="cor-rosa">div</div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <!-- ----------------------- -->

        <div class="tag-break-line"></div>

        <!-- tag filtros  -->
        <div class="tag">
          <div class="cor-tag">
            &nbsp;&nbsp; &lt;
          </div>

          <div class="cor-rosa">div&nbsp;</div>
          <div class="cor-verde">id</div>
          <div class="cor-rosa">= </div>
          <div class="cor-amarelo">"filtros" </div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <!-- ----------------------- -->

        <div class="grid-filtros">
          <div class="cel-filtros">
            <div class="fundo-logo-filtro">
              <img src="img/logos/html.png" alt="" srcset="">
            </div>
            HTML
          </div>
          <div class="cel-filtros">
            <div class="fundo-logo-filtro">
              <img src="img/logos/css.png" alt="" srcset="">
            </div>
            CSS
          </div>
          <div class="cel-filtros">
            <div class="fundo-logo-filtro">
              <img src="img/logos/javascript.png" alt="" srcset="">
            </div>
            JAVASCRIPT
          </div>
          <div class="cel-filtros">
            <div class="fundo-logo-filtro">
              <img src="img/logos/nodejs.png" alt="" srcset="">
            </div>
            NODE.JS
          </div>
          <div class="cel-filtros">
            <div class="fundo-logo-filtro">
              <img src="img/logos/react.png" alt="" srcset="">
            </div>
            REACT
          </div>
          <div class="cel-filtros">
            <div class="fundo-logo-filtro">
              <img src="img/logos/electron.png" alt="" srcset="">
            </div>
            ELECTRON
          </div>
          <div class="cel-filtros">
            <div class="fundo-logo-filtro">
              <img src="img/logos/python.png" alt="" srcset="">
            </div>
            PYTHON
          </div>
          <div class="cel-filtros">
            <div class="fundo-logo-filtro">
              <img src="img/logos/extended-script.png" alt="" srcset="">
            </div>
            CEP ADOBE
          </div>
        </div>

        <div class="tag">
          <div class="cor-tag">
            &nbsp;&nbsp; &lt;/
          </div>
          <div class="cor-rosa">div</div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>

        <div class="tag-break-line"></div>

        <!-- tag galeria  -->
        <div class="tag">
          <div class="cor-tag">
            &nbsp;&nbsp; &lt;
          </div>

          <div class="cor-rosa">div&nbsp;</div>
          <div class="cor-verde">id</div>
          <div class="cor-rosa">= </div>
          <div class="cor-amarelo">"galeria" </div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <!-- ----------------------- -->

        <!-- carrossel -->
        <div class="carrossel-galeria">
          <!-- codigo carrossel com projetos  -->
        </div>
        <!-- ----------------------- -->

        <div class="tag">
          <div class="cor-tag">
            &nbsp;&nbsp; &lt;/
          </div>
          <div class="cor-rosa">div</div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>

        <div class="tag-break-line"></div>

        <div class="tag">
          <div class="cor-tag">
            &lt;/
          </div>
          <div class="cor-rosa">section</div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>

      </div>

    </div>
  </div>
</div>