<div class="galeria">
  <div class="header-window header-window-galeria">
    <div class="titulo-aba">
      <div class="vs-logo"></div>
      <div class="name-window">galeria.html</div>
    </div>

    <div class="divControlesAba">
      <div class="minimize">
        <svg width="54" height="6" viewBox="0 0 54 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.496826 3H53.0109" stroke="white" stroke-width="5" />
        </svg>
      </div>

      <div class="maximize">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.4912 11.772V3.00293H56.6507V46.5657H48.3525" stroke="white" stroke-width="5" />
          <path d="M48.0109 11.9971H3.01086V56.9971H48.0109V11.9971Z" stroke="white" stroke-width="5" />
        </svg>
      </div>

      <div class="close">
        <svg width="55" height="54" viewBox="0 0 55 54" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M52.7367 1.86182L54.5033 3.63037L31.1136 26.9995L54.5023 50.3696L50.9691 53.9067L27.5765 30.5337L4.18494 53.9067L0.651733 50.3696L24.0394 26.9995L0.650757 3.63037L2.41736 1.86182L4.18494 0.0932617L27.5765 23.4653L50.9691 0.0932617L52.7367 1.86182Z" fill="white" />
        </svg>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="numeros-lateral">
      <div class="numero numero-1">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
      </div>
      <div class="numero numero-2">
        <p>7</p>
      </div>
      <div class="numero numero-3">
        <p>8</p>
        <p>9</p>
        <p>10</p>
      </div>
      <div class="numero numero-4">
        <p>11</p>
        <p>12</p>
        <p>13</p>
        <!-- <p>14</p>
        <p>15</p>
        <p>16</p>
        <p>17</p> -->
      </div>

    </div>

    <div class="content-window content-window-trabalhos">

      <div class="header-trabalhos">

        <!-- div section  -->
        <div class="tag">
          <div class="cor-tag">
            &lt;
          </div>

          <div class="cor-rosa">section&nbsp;</div>
          <div class="cor-verde">id</div>
          <div class="cor-rosa">= </div>
          <div class="cor-amarelo">"carrosel-1" </div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <!-- ----------------------- -->

        <div class="tag-break-line pad-1"></div>

        <!-- tag btn-voltar  -->
        <div class="tag">
          <div class="cor-tag pad-1">&lt; </div>
          <div class="cor-rosa">div&nbsp;</div>
          <div class="cor-verde">class</div>
          <div class="cor-rosa">= </div>
          <div class="cor-amarelo">"btn-seletores voltar" </div>
          <div class="cor-tag">&gt; </div>

          <div class="cor-tag">
            &lt;/
          </div>
          <div class="cor-rosa">div</div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <!-- ----------------------- -->


        <!-- tag btn-avancar -->
        <div class="tag">
          <div class="cor-tag pad-1">&lt; </div>
          <div class="cor-rosa">div&nbsp;</div>
          <div class="cor-verde">class</div>
          <div class="cor-rosa">= </div>
          <div class="cor-amarelo">"btn-seletores avancar" </div>
          <div class="cor-tag">
            &gt;
          </div>

          <div class="cor-tag">
            &lt;/
          </div>
          <div class="cor-rosa">div</div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <!-- ----------------------- -->

        <div class="tag-break-line pad-1"></div>

        <!-- tag filtros  -->
        <div class="tag">
          <div class="cor-tag pad-1">&lt; </div>

          <div class="cor-rosa">div&nbsp;</div>
          <div class="cor-verde">id</div>
          <div class="cor-rosa">= </div>
          <div class="cor-amarelo">"filtros" </div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <!-- ----------------------- -->

        <div class="grid-filtros pad-1">
          <div class="div-cel-filtros pad-1">
            <div class="cel-filtros">
              <input type="checkbox" name="" id="">
              <div class="fundo-logo-filtro">
                <img src="img/logos/html.png" alt="" srcset="">
              </div>
              HTML
            </div>
            <div class="cel-filtros">
              <input type="checkbox" name="" id="">
              <div class="fundo-logo-filtro">
                <img src="img/logos/css-2.png" alt="" srcset="">
              </div>
              CSS
            </div>
            <div class="cel-filtros">
              <input type="checkbox" name="" id="">
              <div class="fundo-logo-filtro">
                <img src="img/logos/JAVASCRIPT.png" alt="" srcset="">
              </div>
              JAVASCRIPT
            </div>
            <div class="cel-filtros">
              <input type="checkbox" name="" id="">
              <div class="fundo-logo-filtro">
                <img src="img/logos/NODEJS.png" alt="" srcset="">
              </div>
              NODE.JS
            </div>
            <div class="cel-filtros">
              <input type="checkbox" name="" id="">
              <div class="fundo-logo-filtro">
                <img src="img/logos/REACT.png" alt="" srcset="">
              </div>
              REACT
            </div>
            <div class="cel-filtros">
              <input type="checkbox" name="" id="">
              <div class="fundo-logo-filtro">
                <img src="img/logos/ELECTRON.png" alt="" srcset="">
              </div>
              ELECTRON
            </div>
            <div class="cel-filtros">
              <input type="checkbox" name="" id="">
              <div class="fundo-logo-filtro">
                <img src="img/logos/PYTHON.png" alt="" srcset="">
              </div>
              PYTHON
            </div>
            <div class="cel-filtros">
              <input type="checkbox" name="" id="">
              <div class="fundo-logo-filtro">
                <img src="img/logos/extended-script.png" alt="" srcset="">
              </div>
              CEP ADOBE
            </div>
          </div>
        </div>

        <div class="tag">
          <div class="cor-tag pad-1">/ </div>
          <div class="cor-rosa">div</div>
          <div class="cor-tag"> &gt; </div>
        </div>

        <div class="tag-break-line pad-1"></div>

        <!-- tag galeria  -->
        <div class="tag">
          <div class="cor-tag pad-1"> &lt; </div>
          <div class="cor-rosa">div&nbsp;</div>
          <div class="cor-verde">id</div>
          <div class="cor-rosa">= </div>
          <div class="cor-amarelo">"galeria" </div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <!-- ----------------------- -->

        <!-- carrossel -->
        <div class="carrossel-galeria pad-2">
          <div class="carrossel-galeria-content pad-1">
            <!-- codigo carrossel com projetos  -->

            <div class="cel-galeria HTML CSS JAVASCRIPT NODE.JS">
              <img src="/img/thumbnail/solicitacao.png" alt="" srcset="">
            </div>

            <div class="cel-galeria HTML CSS JAVASCRIPT NODE.JS ELECTRON">
              <img src="/img/thumbnail/nfe.png" alt="" srcset="">
            </div>

            <div class="cel-galeria PYTHON CSS">
              <img src="/img/thumbnail/calc.png" alt="" srcset="">
            </div>

            <div class="cel-galeria HTML CSS JAVASCRIPT NODE.JS REACT">
              <img src="/img/thumbnail/agenda.png" alt="" srcset="">
            </div>

            <div class="cel-galeria JAVASCRIPT REACT NODE.JS BATCH CEP ADOBE">
              <img src="/img/thumbnail/pdf-v1.png" alt="" srcset="">
            </div>

            <div class="cel-galeria HTML CSS JAVASCRIPT NODE.JS CEP ADOBE">
              <img src="/img/thumbnail/pdf-v2.png" alt="" srcset="">
            </div>

            <div class="cel-galeria HTML CSS JAVASCRIPT">
              <img src="/img/thumbnail/weblayout.png" alt="" srcset="">
            </div>

            <div class="cel-galeria HTML CSS JAVASCRIPT">
              <img src="/img/thumbnail/portfolioamanda.png" alt="" srcset="">
            </div>

          </div>
        </div>
        <!-- ----------------------- -->

        <div class="tag">
          <div class="cor-tag pad-1">/ </div>
          <div class="cor-rosa">div</div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>

        <div class="tag-break-line pad-1"></div>

        <div class="tag">
          <div class="cor-tag"> &lt;/ </div>
          <div class="cor-rosa">section</div>
          <div class="cor-tag"> &gt; </div>
        </div>

      </div>

    </div>
  </div>
</div>