<span>
  <div class="content-fullscreen">

    <div class="content-container">
      <h3>Título do projeto</h3>
      <img src="img/thumbnail/solicitacao.png" alt="" srcset="">

      <content>
        <div class="descricao-projeto">
          <b>Descrição do Projeto: </b>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi architecto saepe molestiae quaerat amet cum ab, unde eligendi iusto exercitationem eveniet quae quo inventore aspernatur obcaecati vero ut sit praesentium.</p>
        </div>

        <div class="btn-links">
          <a href="http://" class="link-github">
            <button data-text="Ir ao GitHub"></button>
          </a>
          <a href="http://" class="link-projeto">
            <button data-text="Visitar WebSite"></button>
          </a>
        </div>

      </content>
    </div>

  </div>
</span>