<div class="galeria">
  <div class="header-window header-window-galeria">
    <div class="titulo-aba">
      <div class="vs-logo"></div>
      <div class="name-window">galeria.html</div>
    </div>

    <div class="divControlesAba">
      <div class="minimize"></div>
      <div class="maximize"></div>
      <div class="close"></div>
    </div>

  </div>
</div>