<div class="galeria">
  <div class="header-window header-window-galeria">
    <div class="titulo-aba">
      <div class="vs-logo"></div>
      <div class="name-window">galeria.html</div>
    </div>

    <div class="divControlesAba">
      <div class="minimize"></div>
      <div class="maximize"></div>
      <div class="close"></div>
    </div>
  </div>
  <div class="content">
    <div class="numeros-lateral">
      <div class="numero-1">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
      </div>
      <div class="numero-2">
        <p>7</p>
      </div>
      <div class="numero-3">
        <p>8</p>
      </div>
      <div class="numero-4">
        <p>9</p>
        <p>10</p>
        <p>11</p>
        <p>12</p>
        <p>13</p>
        <p>14</p>
        <p>15</p>
        <p>16</p>
        <p>17</p>
      </div>

    </div>

    <div class="content-window content-window-trabalhos">

      <div class="header-trabalhos">

        <!-- div section  -->
        <div class="tag">
          <div class="cor-tag">
            &lt;
          </div>

          <div class="cor-rosa">section&nbsp;</div>
          <div class="cor-verde">id</div>
          <div class="cor-rosa">= </div>
          <div class="cor-amarelo">"carrosel-1" </div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <!-- ----------------------- -->

        <div class="tag-break-line"></div>

        <!-- tag btn-voltar  -->
        <div class="tag">
          <div class="cor-tag">
            &nbsp;&nbsp; &lt;
          </div>
          <div class="cor-rosa">div&nbsp;</div>
          <div class="cor-verde">class</div>
          <div class="cor-rosa">= </div>
          <div class="cor-amarelo">"btn-seletores voltar" </div>
          <div class="cor-tag">
            &gt;
          </div>

          <div class="cor-tag">
            &lt;/
          </div>
          <div class="cor-rosa">div</div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <!-- ----------------------- -->

        <div class="tag-break-line"></div>

        <!-- tag btn-avancar -->
        <div class="tag">
          <div class="cor-tag">
            &nbsp;&nbsp; &lt;
          </div>
          <div class="cor-rosa">div&nbsp;</div>
          <div class="cor-verde">class</div>
          <div class="cor-rosa">= </div>
          <div class="cor-amarelo">"btn-seletores avancar" </div>
          <div class="cor-tag">
            &gt;
          </div>

          <div class="cor-tag">
            &lt;/
          </div>
          <div class="cor-rosa">div</div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <!-- ----------------------- -->

        <div class="tag-break-line"></div>
        <div class="tag"></div>
        <div class="tag-break-line"></div>

        <!-- tag filtros  -->
        <div class="tag">
          <div class="cor-tag">
            &nbsp;&nbsp; &lt;
          </div>

          <div class="cor-rosa">div&nbsp;</div>
          <div class="cor-verde">id</div>
          <div class="cor-rosa">= </div>
          <div class="cor-amarelo">"filtros" </div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <!-- ----------------------- -->

        <div class="tag-break-line"></div>

        <div class="grid-filtros">
          <div class="cel-filtros">
            <img src="img/logos/html.png" alt="" srcset="">
          </div>
          <div class="cel-filtros">
            <img src="img/logos/css.png" alt="" srcset="">
          </div>
          <div class="cel-filtros">
            <img src="img/logos/javascript.png" alt="" srcset="">
          </div>
          <div class="cel-filtros">
            <img src="img/logos/nodejs.png" alt="" srcset="">
          </div>
          <div class="cel-filtros">
            <img src="img/logos/react.png" alt="" srcset="">
          </div>
          <div class="cel-filtros">
            <img src="img/logos/electron.png" alt="" srcset="">
          </div>
          <div class="cel-filtros">
            <img src="img/logos/python.png" alt="" srcset="">
          </div>
          <div class="cel-filtros">
            <img src="img/logos/extended-script.png" alt="" srcset="">
          </div>
        </div>

      </div>

      <!-- <div class="content-sobre-texto">

        <div class="tag" id="b-1">
          <div class="cor-tag">
            &lt;
          </div>
          p
          <div class="cor-tag">
            &gt;
          </div>
          <p>Designer Gráfico e Desenvolvedor,</p>
        </div>

        <div class="texto-sobre texto-sobre-texto">
          <p>neste site apresentarei alguns</p>
          <p>dos projetos que criei e participei,</p>
          <p>entre eles incluindo projetos de</p>
          <p>criação e desenvolvimento de sites,</p>
          <p>artes visuais para mídias,</p>
          <p> modelos 3D e muito mais. </p>
        </div>

        <div class="tag" id="b-1">
          <div class="cor-tag">
            &lt;/
          </div>
          p
          <div class="cor-tag">
            &gt;
          </div>
        </div>

      </div> -->

      <!-- <div class="content-sobre-texto-2">

        <div class="tag" id="b-1">
          <div class="cor-tag">
            &lt;
          </div>
          br
          <div class="cor-tag">
            &gt;
          </div>
        </div>

        <div class="texto-sobre texto-sobre-texto">Espero que goste da visita!</div>

      </div> -->

    </div>
  </div>
</div>