<div class="navbar">
  <div class="btnSobre" data-text="Sobre"></div>
  <div class="btnTrabalhos" data-text="Trabalhos"></div>
  <div class="btnGaleria" data-text="Galeria"></div>
  <div class="btnContato" data-text="Contato"></div>
</div>



