<div class="sobre">
  <div class="header-window header-window-sobre">
    <div class="titulo-aba">
      <div class="vs-logo"></div>
      <div class="name-window">sobre.html</div>
    </div>

    <div class="divControlesAba">
      <div class="minimize"></div>
      <div class="maximize"></div>
      <div class="close"></div>
    </div>
  </div>

  <div class="content">
    <div class="numeros-lateral">
      <div class="numero-1">
        <p>1</p>
        <p>2</p>
        <p>3</p>
      </div>
      <div class="numero-2">
        <p>4</p>
        <p>5</p>
        <p>6</p>

      </div>
      <div class="numero-3">
        <p>7</p>
        <p>8</p>
        <p>9</p>
        <p>10</p>
        <p>11</p>
        <p>12</p>
        <p>13</p>
        <p>14</p>
      </div>
      <div class="numero-4">
        <p>15</p>
        <p>16</p>
        <p>17</p>
      </div>

    </div>

    <div class="content-window content-window-sobre">

      <div class="header-sobre">
        <div class="tag">
          <div class="cor-tag">
            &lt;
          </div>
          h1
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <div class="texto-sobre texto-sobre-titulo">Sobre</div>

        <div class="tag">
          <div class="cor-tag">
            &lt;/
          </div>
          h1
          <div class="cor-tag">
            &gt;
          </div>
        </div>
      </div>

      <div class="content-sobre-ola">

        <div class="tag" id="b-1">
          <div class="cor-tag">
            &lt;
          </div>
          b
          <div class="cor-tag">
            &gt;
          </div>
        </div>

        <div class="texto-sobre texto-sobre-olaMundo">Olá mundo! Eu sou o Lucas Torres.</div>

        <div class="tag" id="b-1">
          <div class="cor-tag">
            &lt;/
          </div>
          b
          <div class="cor-tag">
            &gt;
          </div>
        </div>

      </div>

      <div class="content-sobre-texto">

        <div class="tag" id="b-1">
          <div class="cor-tag">
            &lt;
          </div>
          p
          <div class="cor-tag">
            &gt;
          </div>
          <p>Designer Gráfico e Desenvolvedor,</p>
        </div>

        <div class="texto-sobre texto-sobre-texto">
          <p>neste site apresentarei alguns</p>
          <p>dos projetos que criei e participei,</p>
          <p>entre eles incluindo projetos de</p>
          <p>criação e desenvolvimento de sites,</p>
          <p>artes visuais para mídias,</p>
          <p> modelos 3D e muito mais. </p>
        </div>

        <div class="tag" id="b-1">
          <div class="cor-tag">
            &lt;/
          </div>
          p
          <div class="cor-tag">
            &gt;
          </div>
        </div>

      </div>

      <div class="content-sobre-texto-2">

        <div class="tag" id="b-1">
          <div class="cor-tag">
            &lt;
          </div>
          br
          <div class="cor-tag">
            &gt;
          </div>
        </div>

        <div class="texto-sobre texto-sobre-texto">Espero que goste da visita!</div>

      </div>

    </div>
  </div>
</div>