<div class="sobre">
    <div class="header-window header-sobre">
        <div class="titulo-aba">
            <div class="vs-logo"></div>
            <div class="name-window">sobre.html</div>
        </div>

        <div class="divControlesAba">
            <div class="minimize"></div>
            <div class="maximize"></div>
            <div class="close"></div>
        </div>
    </div>

    <div class="content-sobre"></div>
</div>