<div class="sobre">
    <div class="header-window header-sobre">
        <div class="titulo-aba">
            <div class="vs-logo"></div>
            <div class="name-window">sobre.html</div>
        </div>

        <div class="divControlesAba">
            <div class="minimize"></div>
            <div class="maximize"></div>
            <div class="close"></div>
        </div>
    </div>

    <div class="content">
        <div class="numeros-lateral">
            <div class="numero-1">
                <p>1</p>
                <p>2</p>
                <p>3</p>
            </div>
            <div class="numero-2">
                <p>4</p>
                <p>5</p>
                <p>6</p>

            </div>
            <div class="numero-3">
                <p>7</p>
                <p>8</p>
                <p>9</p>
                <p>10</p>
                <p>11</p>
                <p>12</p>
                <p>13</p>
                <p>14</p>
            </div>
            <div class="numero-4">
                <p>15</p>
            </div>
            <div class="numero-5">
                <p>16</p>
            </div>
            <div class="numero-6">
                <p>17</p>
            </div>

        </div>

        <div class="content-sobre">

            <div class="tag">
                <div class="cor-tag">
                    &lt;
                </div>
                h1
                <div class="cor-tag">
                    &gt;
                </div>
            </div>

            <div class="texto-titulo">Sobre</div>

            <div class="tag">
                <div class="cor-tag">
                    &lt;/
                </div>
                h1
                <div class="cor-tag">
                    &gt;
                </div>
            </div>

        </div>
    </div>
</div>