<div class="sobre">
  <div class="header-window header-window-sobre">
    <div class="titulo-aba">
      <div class="vs-logo"></div>
      <div class="name-window">sobre.html</div>
    </div>
    <div class="divControlesAba">
      <div class="minimize">
        <svg width="54" height="6" viewBox="0 0 54 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.496826 3H53.0109" stroke="white" stroke-width="5" />
        </svg>
      </div>

      <div class="maximize">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.4912 11.772V3.00293H56.6507V46.5657H48.3525" stroke="white" stroke-width="5" />
          <path d="M48.0109 11.9971H3.01086V56.9971H48.0109V11.9971Z" stroke="white" stroke-width="5" />
        </svg>
      </div>

      <div class="close">
        <svg width="55" height="54" viewBox="0 0 55 54" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M52.7367 1.86182L54.5033 3.63037L31.1136 26.9995L54.5023 50.3696L50.9691 53.9067L27.5765 30.5337L4.18494 53.9067L0.651733 50.3696L24.0394 26.9995L0.650757 3.63037L2.41736 1.86182L4.18494 0.0932617L27.5765 23.4653L50.9691 0.0932617L52.7367 1.86182Z" fill="white" />
        </svg>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="numeros-lateral">
      <div class="numero-1">
        <p>1</p>
        <p>2</p>
        <p>3</p>
      </div>
      <div class="numero-2">
        <p>4</p>
        <p>5</p>
        <p>6</p>
        <p>7</p>

      </div>
      <div class="numero-3">
        <p>8</p>
        <p>9</p>
        <p>10</p>
        <p>11</p>
        <p>12</p>
        <p>13</p>
        <p>14</p>
        <p>15</p>
      </div>
      <div class="numero-4">
        <p>16</p>
        <p>17</p>
        <p>18</p>
      </div>

    </div>

    <div class="content-window content-window-sobre">

      <div class="header-sobre">
        <div class="tag">
          <div class="cor-tag"> &lt; </div>
          <div class="cor-rosa">h1</div>
          <div class="cor-tag">
            &gt;
          </div>
        </div>
        <div class="texto-sobre texto-sobre-titulo pad-1">Sobre</div>

        <div class="tag">
          <div class="cor-tag"> &lt;/ </div>
          <div class="cor-rosa">h1</div>
          <div class="cor-tag"> &gt; </div>
        </div>
      </div>

      <div class="content-sobre-ola">

        <div class="tag" id="b-1">
          <div class="cor-tag"> &lt;</div>
          <div class="cor-rosa">b</div>
          <div class="cor-tag"> &gt; </div>
        </div>

        <div class="texto-sobre texto-sobre-olaMundo">
          <p class="pad-1"> Hello world!</p>
          <p class="pad-1">Eu sou o Lucas Torres.</p>
        </div>

        <div class="tag" id="b-1">
          <div class="cor-tag"> &lt;/ </div>
          <div class="cor-rosa">b</div>
          <div class="cor-tag"> &gt; </div>
        </div>

      </div>

      <div class="content-sobre-texto">

        <div class="tag" id="b-1">
          <div class="cor-tag"> &lt; </div>
          <div class="cor-rosa">p</div>
          <div class="cor-tag">&gt; </div>
          <div class="cor-branco texto-sobre-texto">
            <p>Designer Gráfico e Desenvolvedor, </p>
          </div>
        </div>

        <div class="texto-sobre texto-sobre-texto pad-1">
          <div class="cor-branco">neste site apresentarei alguns</div>
          <div class="cor-branco">dos projetos que criei e participei,</div>
          <div class="cor-branco">entre eles incluindo projetos de</div>
          <div class="cor-branco">criação e desenvolvimento de sites,</div>
          <div class="cor-branco">aplicações Desktop, extensões e</div>
          <div class="cor-branco"> scripts para programas e muito mais. </div>
        </div>

        <div class="tag" id="b-1">
          <div class="cor-tag"> &lt;/ </div>
          <div class="cor-rosa">p</div>
          <div class="cor-tag"> &gt; </div>
        </div>

      </div>

      <div class="content-sobre-texto-2">

        <div class="tag" id="b-1">
          <div class="cor-tag"> &lt; </div>
          <div class="cor-rosa">br</div>
          <div class="cor-tag"> &gt; </div>
        </div>

        <div class="texto-sobre texto-sobre-texto">Espero que goste da visita!</div>

      </div>

    </div>
  </div>
</div>