<div class="trabalhos">
  <div class="titulo-trabalhos">
    <p>Diretório:</p>
    <p>Trabalhos</p>
  </div>

  <div class="  content-trabalhos">
    <div class="colunas-trabalhos titulo-colunas-trabalhos">

      <div class="data">
        <p>Data</p>
        <p>----</p>
      </div>

      <div class="tipo">
        <p>Tipo</p>
        <p>----</p>
      </div>

      <div class="nome">
        <p>Nome</p>
        <p>----</p>
      </div>
    </div>

    <%- include('./colunasTrabalhos') %>
  </div>

</div>