<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/window-cmd.css">
  <link rel="stylesheet" href="css/header-window.css">
  <title>cmd</title>
</head>

<body>
  <div class="corpo-cmd">
    <div class="window-cmd">
      <div class="header-window-cmd header-window">
        <div class="borda-e-aba">
          <div></div>
        </div>
        <div class="titulo-aba">

          <div class="aba">
            <div class="vs-logo"></div>
            <div class="name-window">C:\Windows\system32\cmd.exe</div>
            <div class="close">
              <svg width="55" height="54" viewBox="0 0 55 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M52.7367 1.86182L54.5033 3.63037L31.1136 26.9995L54.5023 50.3696L50.9691 53.9067L27.5765 30.5337L4.18494 53.9067L0.651733 50.3696L24.0394 26.9995L0.650757 3.63037L2.41736 1.86182L4.18494 0.0932617L27.5765 23.4653L50.9691 0.0932617L52.7367 1.86182Z" fill="white" />
              </svg>
            </div>
          </div>

        </div>
        <div class="borda-d-aba">
          <div></div>
        </div>

        <div class="divControlesAba">
          <div class="minimize">
            <svg width="54" height="6" viewBox="0 0 54 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.496826 3H53.0109" stroke="white" stroke-width="5" />
            </svg>
          </div>

          <div class="maximize">
            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.4912 11.772V3.00293H56.6507V46.5657H48.3525" stroke="white" stroke-width="5" />
              <path d="M48.0109 11.9971H3.01086V56.9971H48.0109V11.9971Z" stroke="white" stroke-width="5" />
            </svg>
          </div>

          <div class="close">
            <svg width="55" height="54" viewBox="0 0 55 54" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M52.7367 1.86182L54.5033 3.63037L31.1136 26.9995L54.5023 50.3696L50.9691 53.9067L27.5765 30.5337L4.18494 53.9067L0.651733 50.3696L24.0394 26.9995L0.650757 3.63037L2.41736 1.86182L4.18494 0.0932617L27.5765 23.4653L50.9691 0.0932617L52.7367 1.86182Z" fill="white" />
            </svg>
          </div>
        </div>

      </div>

      <content></content>
    </div>
  </div>
</body>

</html>