<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar trabalhos</title>
</head>

<body>
  <form action="/sendTrabalho" method="post">
    <input type="text" name="data" id="" placeholder="data"><br>
    <input type="text" name="tipo" id="" placeholder="tipo"><br>
    <input type="text" name="nome" id="" placeholder="nome"><br>
    <br>
    <button type="submit">Cadastrar</button>

  </form>
</body>

</html>