<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/animationSobre.css">
    <link rel="stylesheet" href="css/sobre.css">

    <title>Lucas Torres Developer</title>
</head>

<body>

    <div class="header"></div>

    <%- include('includes/navbar') %>
    <%- include('includes/animationSobre') %>
    <%- include('includes/sobre') %>


</body>

</html>